* {
    font-family: "Roboto";
}

body {
    background-color: burlywood;
}

.container {
    display: flex;
    height: 90vh;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid black;    
    padding-right: 25%;
}

.selection-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}

.grid {
    display: flex;
    height:fit-content;
    width: 320px;
    border: 2px solid black;
    flex-wrap: wrap;
    justify-content:center;
    align-content: flex-start;
    padding: 0px;
}

.grid-boxes {
    width: 20px;
    height: 20px;
    background-color: white;
}