* {
    font-family: "Roboto";
}

body {
    background-color: burlywood;
}

.container {
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
}


.grid {
    display: flex;
    height:fit-content;
    width: 320px;
    border: 2px solid black;
    flex-wrap: wrap;
    justify-content:center;
    align-content: flex-start;
    padding: 0px;
}

.grid-boxes {
    border: 0px solid black;
    width: 20px;
    height: 20px;
    background-color: white;
}